@{
    ViewData["Title"] = "My Work Page";
}

<br />
<h1 style="text-align:center">KhumaloCraft Work Page</h1><br />
<br />


<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card" style="border-radius: 30px">
            <img src="/lib/Image/artwork2.jpg" class="card-img-top" style="border-radius: 30px; padding: 20px">
            <div class="card-body">
                <h3 class="card-title" style="color:mediumblue; text-align:center;">Artwork 1</h3>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span> 
                <h5 class="card-text" style="margin-top: 20px">Price: R3 700</h5>
                <button class="btn btn-primary" style="border-radius: 50px; width: 380px;">More Info</button>
            </div>
        </div>
    </div>


    <div class="col">
        <div class="card" style="border-radius: 30px">
            <img src="/lib/Image/artwork7.jpg" class="card-img-top" style="border-radius: 30px; padding: 20px">
            <div class="card-body">
                <h3 class="card-title" style="color:mediumblue; text-align:center;">Artwork 2</h3>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <h5 class="card-text" style="margin-top: 20px">Price: R1 800</h5>
                <button class="btn btn-primary" style="border-radius: 50px; width: 380px;">More Info</button>
            </div>
        </div>
    </div>


    <div class="col">
        <div class="card" style="border-radius: 30px">
            <img src="/lib/Image/artwork10.jpg" class="card-img-top" style="border-radius: 30px; padding: 20px">
            <div class="card-body">
                <h3 class="card-title" style="color:mediumblue; text-align:center;">Artwork 3</h3>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <h5 class="card-text" style="margin-top: 20px">Price: R2 200</h5>
                <button class="btn btn-primary" style="border-radius: 50px; width: 380px;">More Info</button>
            </div>
        </div>
    </div>


    <div class="col">
        <div class="card" style="border-radius: 50px">
            <img src="/lib/Image/artwork15.jpeg" class="card-img-top" style="border-radius: 30px; padding: 20px">
            <div class="card-body">
                <h3 class="card-title" style="color:mediumblue; text-align:center;">Artwork 4</h3>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <h5 class="card-text" style="margin-top: 20px">Price: R3 000</h5>
                <button class="btn btn-primary" style="border-radius: 50px; width: 380px;">More Info</button>
            </div>
        </div>
    </div>


    <div class="col">
        <div class="card" style="border-radius: 30px">
            <img src="/lib/Image/artwork20.jpg" class="card-img-top" style="border-radius: 30px; padding: 20px">
            <div class="card-body">
                <h3 class="card-title" style="color:mediumblue; text-align:center;">Artwork 5</h3>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <h5 class="card-text" style="margin-top: 20px">Price: R1 400</h5>
                <button class="btn btn-primary" style="border-radius: 50px; width: 380px;">More Info</button>
            </div>
        </div>
    </div>


    <div class="col">
        <div class="card" style="border-radius: 30px">
            <img src="/lib/Image/artwork21.jpg" class="card-img-top" style="border-radius: 30px; padding: 20px;">
            <div class="card-body">
                <h3 class="card-title" style="color:mediumblue; text-align:center;">Artwork 6</h3>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <h5 class="card-text" style="margin-top: 20px">Price: R2 200</h5>
                <button class="btn btn-primary" style="border-radius: 50px; width: 380px;">More Info</button>
            </div>
        </div>
    </div>


    <div class="col">
        <div class="card" style="border-radius: 30px">
            <img src="/lib/Image/artwork5.jpg" class="card-img-top" style="border-radius: 30px; padding: 20px;  height: 410px">
            <div class="card-body">
                <h3 class="card-title" style="color:mediumblue; text-align:center;">Artwork 7</h3>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <h5 class="card-text" style="margin-top: 20px">Price: R2 700</h5>
                <button class="btn btn-primary" style="border-radius: 50px; width: 380px;">More Info</button>
            </div>
        </div>
    </div>


    <div class="col">
        <div class="card" style="border-radius: 30px">
            <img src="/lib/Image/artwork13.jpg" class="card-img-top" style="border-radius: 30px; padding: 20px; height: 410px">
            <div class="card-body">
                <h3 class="card-title" style="color:mediumblue; text-align:center;">Artwork 8</h3>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <h5 class="card-text" style="margin-top: 20px">Price: R1 100</h5>
                <button class="btn btn-primary" style="border-radius: 50px; width: 380px;">More Info</button>
            </div>
        </div>
    </div>



    <div class="col">
        <div class="card" style="border-radius: 30px">
            <img src="/lib/Image/artwork19.jpg" class="card-img-top" style="border-radius: 30px; padding: 20px; height: 410px">
            <div class="card-body">
                <h3 class="card-title" style="color:mediumblue; text-align:center;">Artwork 9</h3>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <h5 class="card-text" style="margin-top: 20px">Price: R2 900</h5>
                <button class="btn btn-primary" style="border-radius: 50px; width: 380px;">More Info</button>
            </div>
        </div>
    </div>


    <div class="col">
        <div class="card" style="border-radius: 30px">
            <img src="/lib/Image/artwork14.jpg" class="card-img-top" style="border-radius: 30px; padding: 20px; height: 360px">
            <div class="card-body">
                <h3 class="card-title" style="color:mediumblue; text-align:center;">Artwork 10</h3>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <h5 class="card-text" style="margin-top: 20px">Price: R3 400</h5>
                <button class="btn btn-primary" style="border-radius: 50px; width: 380px;">More Info</button>
            </div>
        </div>
    </div>


    <div class="col">
        <div class="card" style="border-radius: 30px">
            <img src="/lib/Image/artwork9.jpeg" class="card-img-top" style="border-radius: 30px; padding: 20px; height: 360px">
            <div class="card-body">
                <h3 class="card-title" style="color:mediumblue; text-align:center;">Artwork 11</h3>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <h5 class="card-text" style="margin-top: 20px">Price: R1 800</h5>
                <button class="btn btn-primary" style="border-radius: 50px; width: 380px;">More Info</button>
            </div>
        </div>
    </div>


    <div class="col">
        <div class="card" style="border-radius: 30px">
            <img src="/lib/Image/artwork4.webp" class="card-img-top" style="border-radius: 30px; padding: 20px; height: 360px">
            <div class="card-body">
                <h3 class="card-title" style="color:mediumblue; text-align:center;">Artwork 12</h3>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star checked" style="color: orange"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <h5 class="card-text" style="margin-top: 20px">Price: R3 100</h5>
                <button class="btn btn-primary" style="border-radius: 50px; width: 380px">More Info</button>
            </div>
        </div>
    </div>


</div>

        